.block {
    border: 4px solid #8AE3C8;
    margin-bottom: 5px !important;
    height: 100px;
    button {
        background-color: #8AE3C8;
        color: #fff;
        border: 0;
        padding: 5px 20px;
        outline: none;
    }
    .fa {
        font-size: 1.5em;
        border: 1px solid #fff;
        padding: 6px;
        border-radius: 50%;
    }
    .col-xs-3 {
        background-color: #8AE3C8;
        color: #fff;
        height: 100%;
        padding: 5px 0;
    }
    .col-xs-9 {
        padding: 8px;
        p {
            font-size: 0.9em;
            margin-bottom: 5px;
        }
        .col-xs-12 {
            padding: 0;
            p:first-child {
                font-weight: bold;
            }
        }
    }
    .fa-info {
        font-size: 0.9em;
        color: #249755;
        border: 1px solid #249755;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        padding-top: 2px;
        position: relative;
        left: -10px;
    }
}

.row {
    margin: 0;
}

.pink {
    border: 4px solid #E9ACD9;
    button {
        background-color: #E9ACD9;
    }
    .col-xs-3 {
        background-color: #E9ACD9;
    }
}

.orange {
    border: 4px solid #F6AE6F;
    button {
        background-color: #F6AE6F;
    }
    .col-xs-3 {
        background-color: #F6AE6F;
        padding: 15px 0;
    }
}

.lilac {
    border: 4px solid #C2A4CD;
    button {
        background-color: #C2A4CD;
    }
    .col-xs-3 {
        background-color: #C2A4CD;
        padding: 15px 0;
    }
}