// Internal variables
$x-palette-light-gray: #c3c3c3;
$x-palette-dark-gray: #333;
$x-palette-dark: #000;

// Global variables
$palette-primary: $x-palette-light-gray;
$palette-secondary: $x-palette-dark;
$palette-paragraph: $x-palette-dark-gray;